table,
thead,
tbody,
tr,
th,
td {
  border: 1px solid #999999;
}

table {
  border-collapse: collapse;
  text-align: center;
  font-weight: 1000;
}

caption {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

th,
td {
  padding: 8px 16px;
}

tbody tr:nth-child(5) {
  background-color: rgba(175, 216, 28, 0.116);
}
tbody tr:nth-child(4) {
    background-color: rgba(175, 216, 28, 0.116);
  }
.red{
    color: red;
}
